/* RESET ET GENERALS ####################################### */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.741);
}

h1, h2, h3, h4, p, ul, li, a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #424242 ;
}
/* quick column/row flex-system */
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
}