/* RESET ET GENERALS ############################################################################## */

/* Parce que j'en ai ras la casquette de retrouver des trucs verts et rouges partout dans mon css. */
.debug{
    border: 1px solid green;
}
.debug2{
    border: 1px solid rgb(255, 0, 0);
}
/* FIN. */

/* Pour que la navigation entre ancres soit smooth. */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(28, 28, 28);
}

/* Fonts Générales ===================================================================*/
h1, h2, h3, h4, p, ul, li, a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #fffbfb ;
}


h1{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;

    margin-bottom: 10px;
}
h2{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;

    margin-bottom: 10px;
}
h3{
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}

p, li{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    margin-bottom: 5px;
}

hr{
    width: 99%;
    border: solid rgba(255, 255, 255, 0.05) 1px;
}

/* H2 Spécial titre de sections */
h2.sectionTitle{
    position: relative;
    padding: 10px 0px 10px 0px;
    font-weight: 700;
    
    width: 100%;

    text-align: center;

    background: linear-gradient(180deg, rgba(2,23,255,1) 0%, rgba(8,28,255,1) 5%, rgba(114,130,255,1) 5%, rgba(255,255,255,1) 7%, rgba(255, 255, 255, 0.424) 100%);
    /* Sync de la couleur du titre. */
    animation: 20s running infinite chooseColor linear;
    color: #262626;
    overflow: hidden;
}


/* Gestions de containers generaux  ##################################################################################### */

/* Le top container */
.mainContainer{
    max-width: 1280px;
    width: 100%;

    display: flex;
}

/* quick column/row flex-system */
/* Gain de temps quand je m'en souviens. */
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
}




/* Gestions de formats CARDS, si vous chezchez le bonheur, c'est là qu'il est venu mourir. ###################################################################### */
.mainCard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    top: 0px;
    border-radius: 0px 3px 3px 0px;
    overflow: hidden ;
    transition: 0.5s;
}

.mainCard:hover{
    
    top: -10px;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.222));
}

/* Layer semi-blurry masqué par un pattern gradient-intégré sur "CARD" */
.mainCard::after{
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(180deg, rgba(0,0,0,0.7259278711484594) 0%, rgba(2,21,255,0) 39%, rgba(2,23,255,0) 52%, #002fff 74%, #00177d 100%);

    /* Appelez le président ! On peut faire des masques alpha sur des elements. */
    /* j'ai du concevoir un pattern avec gradient intégré, le cumul d'un masque  gradient procédural avec un masque-IMAGE ne réagit pas comme je le pensais, les Masques sont additifs. */
    /* Le mask-image n'affecte pas la propriété BLUR. abort. */

    -webkit-mask-image: url(../assets/GpasSoft.png);
    mask-image: url(../assets/GpasSoft.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    
    
}



/* TITRE de la card */
.mainCard h3{
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
    padding: 10px 10px 10px 20px;
    text-align: left;
    margin-bottom: 0;
    /* Variarion de la couleur des titres cards. */
    animation: 20s running infinite chooseColor linear;
    color: rgb(255, 255, 255);
    background-color:#444f764f;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
    backdrop-filter: blur(10px) brightness(50%) contrast(90%);
}
/* Description de la card */
.mainCard p{
    z-index: 2 ;
    padding: 20px;
    height: 100%;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 0;
    backdrop-filter: blur(2px) brightness(50%) contrast(90%);

}

/* Un liserai coloré animé en même temps que le header. */
.mainCard h3::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 100%;
    top: 0px;
    left: 0px;
    
    animation: 20s running infinite chooseColor linear;
    background-color: #002fff;
    transition: 0.2s;
}
/* Le liserai s'étend au hover */
.mainCard:hover h3::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    animation: 20s running infinite chooseColor linear;
    background-color: 002fff;
}

/* FIN DES CARTES !!!!! ######################################## */



