/* HEADER / FORME et ANIMATIONS ######################################################################################################## */

header{
    justify-content: space-between;

    margin-top: 15vh;
    position: relative;

    min-height: 300px;

    overflow: hidden;
    
    border: 2px  rgb(100, 100, 100);
}


/* HEADER'S SIMPLE GRADIENT: Bleu-rien-ReBleu derrière. ============= */


/* Variation du hue sur un cycle de 20 seconde : Bleu-violet. */
@keyframes chooseColor {
    0%{filter: hue-rotate(0%);}
    25%{filter: hue-rotate(-20deg);}
    50%{filter: hue-rotate(0deg);}
    75%{filter: hue-rotate(20deg);}
    100%{filter: hue-rotate(0deg);}
}

/* Gradient coloré */
header::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: -2;

    animation: 20s running infinite chooseColor linear;

    background: linear-gradient(90deg, #002fff 0%, #002fff 5%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 30%, #002fff 40%, #002fff 100%);
}




/* HEADER'S PATTERN (flatdesign) & SELF ANIMATION =============================================== */

/* simpmle animation du pattern au dessus du gradient. */
@keyframes slideUp {
    0%{background: url(../assets/pattern/patternDevSmol.png) 0px 0px }
    100%{background: url(../assets/pattern/patternDevSmol.png) 0px -171px}
}

/* Pattern avec masque d'image */
header::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: -1;
    filter: invert(90%);

    animation:15s running infinite slideUp linear;


    background: url(../assets/pattern/patternDevSmol.png) 50% 50%/10%;
    /* Appelez le président ! On peut faire des masques alpha sur des elements. */
    -webkit-mask-image: linear-gradient(90deg, #0341B2 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 30%, #0341B2 100%);
    mask-image: linear-gradient(90deg, #0341B2 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 30%, #0341B2 100%);
}






/* HEADER : CONTENU ######################################################################################################## */



/* Section portrait, gauche header, au dessus de ma tête ====================================*/
#portrait{
    position: relative;
    justify-content: flex-end;
    width: 40%;
    text-transform: uppercase;
}

/* Video ABSOLUTE dans ma section portrait . Z-index negatif */
header video{
    position: absolute;
    transform: translate(2%, 26%) scale(49%);
    z-index: -3;
    
}

#portrait h1{
    margin: 0px 20px 0px 0px;
}
#portrait h1 span{
    opacity: 80%;
}
#portrait :is(.row, a){
    display: flex;

    align-items: center;

    flex-wrap: wrap;
}
#portrait .row{
    width: fit-content;
    backdrop-filter: blur(4px);
}
#portrait img{
    margin: 10px;
    height: 30px;
    transform: translate(0px, 2px);
}




/* section infos, droite header, au dessus du pattern qui défile =========================== */
#informations{
    padding: 10px;
    width: 60%;
}

#informations div.column{
    justify-content: space-between;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    /* CI-DESSOUS: Bordure officielle des trucs quasi-invisibles. */
    border: solid rgba(255, 255, 255, 0.05) 1px;
    /* CI-DESSUS : Bordure officielle des trucs quasi-invisibles. */

    border-radius: 5px;
}
#punchline{
    /* color: rgb(255, 211, 66); */
    font-weight: 900;
}


/* HOLDER des badges de dév web (comme les scouts) -------------------------------- */
#badgeHolder{
    flex-wrap: wrap;
    width: 100%;
}
div.badge{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.badge img{
    height: 65px;
    margin: 5px;
    filter: saturate(50%) brightness(200%) drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.692));
    transform: translateY(0px);
    transition: 0.5s;
}
div.badge:hover img{
    filter: saturate(100%);
    transform: translateY(-10px);
}

/* Differents états de mes badges ========================== */

/* OWNED, quand j'ai gagné mon badge. */
div.owned:hover{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.692));
}

/* Training, quand j'y travaille. */
@keyframes blip {
    0%{opacity: 75%;}
    25%{opacity: 50%;}
    75%{opacity: 50%;}
    100%{opacity: 75%;}
}
div.training img{
    animation: blip infinite linear 2s;
    filter: saturate(40%);
}

/* soon, quand je constate que j'ai encore beaucoup d'espace a explorer */
div.soon img{
    filter: blur(2px);
    opacity: 25%;
}

/*Gestion du label P à l'intérieur des .badges */
div.badge p{
    position: absolute;
    display: none;
    font-weight: 800;
}
div.badge:hover p{
    display: block;
    text-align: center;
    opacity: 100%;
    transform: translateY(63px);
}