/* la navbar et ses enfants ci-dessous ==================================================== */
/* QUID du format des commentaires ?  +/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/ */

nav{
    z-index: 100;
    position: sticky;
    top: 0px;

}
#burger{
    display: none;
}

#navbar{
    background: linear-gradient(180deg, #c8ff00 0%, rgba(255,255,255,1) 7%, rgba(255, 255, 255, 0.424) 100%);

    backdrop-filter: blur(3px);
    height: 50px;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    align-items: center;

}

#navbar a{
    display: inline-block;
    position: relative;
    
    padding: 5px 10px 10px 10px;
    margin: 5px 20px 0px 10px;

    text-transform: uppercase;
    font-family: Barlow;
    font-size: 25px;
    font-weight: 700;

    transition: 0.2s;

    
    color: #232323;
}
#navbar a:hover {
    color: #ffffff;
}

/* liserai de la navbar */
#navbar a::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    
    animation: 20s running infinite chooseColor linear;
    background-color: #002fff;
    transition: 0.2s;
}
/* Le liserai s'étend au hover */
#navbar a:hover:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    animation: 20s running infinite chooseColor linear;
    background-color: 002fff;
}

