/* la navbar et ses enfants ci-dessous ==================================================== */
/* QUID du format des commentaires ?  +/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/+/ */

#navbar{

    height: 50px;

    justify-content: center;
    align-items: center;

}

#navbar a{
    margin: 0px 10px 0px 10px;
    text-transform: uppercase;
    font-family: Barlow;
    font-weight: 700;
}

