/* Section de présentation de mes skills ########################### */

#skillsExperience{
    flex-direction: column;


    background-color: #212122;
    padding: 0px 0px 50px 0px;

    margin: 20vh 0px 0px 0px;
    height: fit-content;
}



#skillDisplay{
    width: 100%;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}


/* Cartes individuelles de skills ============================== */

/* Style de la skill Card, " déroulante" */

.skillCard{
    position: relative;
    margin: 10px;
    padding-top: 20px;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
    width:  300px;
    height: 180px;
    transition: 0.5s;
    animation: 20s running infinite chooseColor linear;
    background: linear-gradient(#002fffdb, #002fffdb), url(../assets/GpasSoft.png) 50% 50%/100%, #002fff;
    filter: saturate(50%);
}

/* Format du texte a dérouler. */
.skillCard p{
    display: none;
    padding: 10px;
    animation: 20s running infinite chooseColor linear;
    background: linear-gradient(#002fffdb, #002fffdb), url(../assets/GpasSoft.png) 50% 18%/100%, #002fff;
    margin-top: 10px;
    border-radius: 0px 0px 3px 3px;
}

/* Animations de la carte et des ses organes lors du hover. */
.skillCard:hover{
    z-index: 30;
    transform: translate(0px, -2px);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.609));

    filter: saturate(100%);

}
.skillCard:hover p{
    position: absolute;
    top: 169px;
    display: block;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.609));

}